@import url("reset.css");
@import url("styles-css/cabecalho.css");
@import url("styles-css/principal.css");
@import url("styles-css/rodape.css");

:root {
    --vermelho-escuro: #8E2424;
    --cinza: #667085;
    --branco: #ffffff;
    --preto: #101828;
    --vermelho-fundo: #8E24240D;
    --cor-borda: #eaecf0;
    --cor-fundo-rodape: #F9FAFB;
    --cinza-2: #98A2B3;
    --fonte-texto: Inter
}

* {
    margin: 0;
    padding: o;
}

body {
    font-family: var(--fonte-texto);
}